.background {
	-fx-background-color: linear-gradient(to bottom right, #21a7b2, #8f32b9);
}

.vertical_container, .horizontal_container {
	-fx-padding: 10;

	-fx-alignment: center;
	-fx-text-alignment: center;

	-fx-background-color: linear-gradient(to bottom right, orange, indigo), #1d1d1d;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5;
}

.text, .button, .toggle, .input {
	-fx-padding: 10;

	-fx-fill: white;
	-fx-text-fill: white;

	-fx-font-family: "Segoe UI", sans-serif;
	-fx-font-weight: bold;
	-fx-font-size: 20px;

	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.button:hover, .toggle:hover {
	-fx-cursor: hand;

	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;

	-fx-effect: dropshadow(gaussian, #007fff, 10, 0.5, 0, 0);
}

.input:focused {
	-fx-border-color: transparent;

	-fx-background-color: linear-gradient(to bottom right, orange, indigo), #1d1d1d;
	-fx-background-insets: 0, 2;
	-fx-background-radius: 8;
}