.container {
	-fx-background-color: linear-gradient(to bottom right, orange, indigo), #1d1d1d;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 8;
    -fx-padding: 10;

	-fx-alignment: center;
	-fx-text-alignment: center;
}

.text {
	-fx-fill: white;

	-fx-font-family: "Segoe UI", sans-serif;
	-fx-font-weight: bold;
	-fx-font-size: 24px;
}

.button {
	-fx-padding: 10;

	-fx-background-color: transparent;
	-fx-border-color: transparent;

	-fx-transition: all 0.3s ease-in-out;
}

.button:hover {
	-fx-cursor: hand;

    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

    -fx-effect: dropshadow(gaussian, #007fff, 10, 0.5, 0, 0);
}