.bg-primary {
	-fx-background-color: linear-gradient(to bottom, #f0f6f4, #dbe9e5);
}

.bg-secondary {
	-fx-background-color: linear-gradient(to bottom, #d0e0db, #b7cdc6);
}

.bg-popup {
	-fx-background-color: rgba(240, 248, 250, 0.9);
	-fx-background-radius: 8;
	-fx-effect: dropshadow(gaussian, #a0c4b088, 6, 0, 0, 2);
}

.button {
	-fx-background-color: linear-gradient(to bottom, #7ac27a, #90d090);
	-fx-background-radius: 8;
	-fx-border-color: #5caf5c;
	-fx-cursor: hand;
	-fx-effect: dropshadow(gaussian, #7abf7aaa, 5, 0, 0, 2);
	-fx-text-fill: #2a3a2a;
	-fx-font-weight: bold;
}

.button:hover {
	-fx-background-color: linear-gradient(to bottom, #a2d1a1, #b8e3b9);
	-fx-border-color: #4a784a;
}

.combo-box {
	-fx-background-color: linear-gradient(to bottom, #d9e6e1, #b8ccc5);
	-fx-background-radius: 6;
	-fx-border-color: #5caf5c;
	-fx-cursor: hand;
}

.combo-box:hover {
	-fx-border-color: #81b581;
}

.combo-box:focused {
	-fx-border-color: #aad3aa;
	-fx-effect: dropshadow(gaussian, #aad3aa99, 4, 0, 0, 1);
}

.combo-box .arrow,
.combo-box .arrow-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.combo-box .list-cell {
	-fx-background-color: transparent;
	-fx-text-fill: #588758;
}

.combo-box .list-view {
	-fx-background-color: #d3e4d7;
	-fx-background-radius: 6;
	-fx-border-color: #5caf5c;
}

.combo-box-popup .list-cell {
	-fx-text-fill: #588758;
}

.combo-box-popup .list-cell:hover {
	-fx-background-color: #90d090;
}

.combo-box-popup .list-cell:selected {
	-fx-background-color: #7ac27a;
	-fx-text-fill: #f0faf0;
}

.container {
	-fx-background-color: linear-gradient(to bottom, #e9f2ee, #cde3d9);
	-fx-background-radius: 6;
}

.input {
	-fx-background-color: linear-gradient(to bottom, #e6f0ec, #c8dbcd);
	-fx-background-radius: 6;
	-fx-border-color: #5caf5c;
	-fx-text-fill: #588758;
	-fx-font-weight: normal;
}

.input:hover {
	-fx-border-color: #81b581;
}

.input:focused {
	-fx-border-color: #aad3aa;
	-fx-effect: dropshadow(gaussian, #aad3aa99, 4, 0, 0, 1);
}

.my-turn {
	-fx-fill: #d14b4b;
	-fx-font-weight: bold;
}

.separator .line {
	-fx-border-color: #81b581;
	-fx-opacity: 1;
}

.slider {
	-fx-background-color: transparent;
}

.slider .thumb {
	-fx-background-color: linear-gradient(to bottom, #7ac27a, #90d090);
	-fx-background-radius: 50%;
	-fx-effect: dropshadow(gaussian, #7abf7faa, 5, 0, 0, 1);
}

.slider .thumb:hover {
	-fx-scale-x: 1.15;
	-fx-scale-y: 1.15;
}

.slider .track {
	-fx-background-color: linear-gradient(to left, #b8e3b9, #d05c5c);
	-fx-background-insets: 0;
	-fx-background-radius: 6;
}

.text {
	-fx-fill: #588758;
	-fx-font-weight: normal;
	-fx-text-fill: #588758;
}

.header {
	-fx-fill: #aad3aa;
	-fx-font-weight: bold;
	-fx-text-fill: #aad3aa;
}