.button {
	-fx-background-radius: 6;
	-fx-cursor: hand;
	-fx-padding: 6 12;
}

.combo-box {
	-fx-background-radius: 4;
	-fx-cursor: hand;
	-fx-padding: 5;
}

.combo-box .arrow-button {
	-fx-padding: 0;
}

.combo-box-popup .list-cell {
	-fx-padding: 3 0 3 0;
}

.container {
	-fx-padding: 12;
	-fx-spacing: 6;
}

.current-player {
	-fx-font-size: 16px;
}

.header {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}

.input {
	-fx-background-radius: 4;
	-fx-padding: 5;
}

.separator {
	-fx-padding: 6 0;
}

.slider {
	-fx-padding: 4 0;
}

.text {
	-fx-font-size: 12px;
	-fx-font-weight: normal;
}

.image {
    -fx-max-width: 200px;
    -fx-max-height: 200px;
}
